{% extends "client/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% comment %} <div class="w-full max-w-md mx-auto">
    <form method="POST" action="" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <fieldset>
            <legend class="text-xl text-center mb-4">Book your slot</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="text-center mt-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Create
            </button>
        </div>
    </form>
</div> {% endcomment %}
<div class="flex items-center justify-center">
    <div class="flex max-w-fit flex-col items-center justify-center  bg-white rounded-2xl px-6 py-6 outline outline-1 md:w-fit">
      <h1 class="w-fit text-xl font-medium text-gray-800">Book your Token</h1>
      <p class="text-sm font-normal text-gray-600 mb-2">Fill these fields for your token</p>
      <!-- <h1>Login</h1> -->
      <form method="POST" class="w-fit px-5 py-2 mt-1 space-y-3">
        {% csrf_token %}
        
        {% comment %} <span class="max-w-10 font-light text-sm">{{ form.non_field_errors }}</span> {% endcomment %}
        <div class="max-w-md"> <!-- Set the maximum width here -->
            <span class="font-light text-sm">{{ form.non_field_errors }}</span>
        </div>
        {% for field in form %}
            <div>
                <label class="text-sm text-gray-800 p-0.5 w-fit" for="{{ field.id_for_label }}">{{ field.field.widget.attrs.placeholder|default:field.html_name|title }}</label>
                    {% if field.html_name == 'service' %}
                        <select  name="{{ field.html_name }}" id="" placeholder="{{ field.field.widget.attrs.placeholder|default:field.html_name|title }}" class="p-1.5 rounded-lg w-full outline placeholder:text-gray-500 outline-0 bg-slate-50 ">
                            {% for id, name in field.field.choices %}
                            <option value="{{ id }}">{{name | title }}</option>
                            {% endfor %}
                        </select>
                    {% elif field.html_name == 'description' %}
                        <textarea  name="{{ field.html_name }}" id="" placeholder="{{ field.field.widget.attrs.placeholder|default:field.html_name|title }}" class="p-1.5 rounded-lg w-full outline placeholder:text-gray-500 outline-1  bg-slate-50"></textarea>
                    {% else %}
                        <input type="{{ field.field.widget.attrs.input_type }}" name="{{ field.html_name }}" id="" placeholder="{{ field.field.widget.attrs.placeholder|default:field.html_name|title }}" class="p-1.5 rounded-lg w-full outline placeholder:text-gray-500 outline-0 bg-slate-50">
                    {% endif %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <li class="text-sm text-red-500">{{ error|escape }}</li>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <div class="flex flex-col items-center">
          <button type="submit" class=" mt-2 mb-2 w-fit items-center justify-center rounded-full bg-gray-900  hover:bg-gray-800 px-5 py-1.5 font-semibold text-white">Book Token</button>
          {% comment %} <span class="cursor-pointer text-sm text-gray-700 hover:text-blue-600"><a href="{% url 'login' %}">Already have an account ?</a></span> {% endcomment %}
        </div>
      </form>
    </div>
</div>

{% endblock content %}

{% comment %} <select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
    <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
    {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
    </optgroup>{% endif %}{% endfor %}
  </select> {% endcomment %}