::-webkit-scrollbar {
    width: 0;
  }

::-webkit-scrollbar {
height: 0;
}
.right-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.right-links li {
    margin-right: 10px;
}