{% extends "client/base.html" %}
{% block content %}
    <h1>home </h1>
    {% for token in tokens %}
    <li><a href='{% url 'slot-detail' token.id %}'>{{ token.token_time }} </a></li>
    {% endfor %}
    <br>
    <div>
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a style="text-decoration: none; margin-right: 10px;" href="?page=1">1</a>
                <a style="text-decoration: none; margin-right: 10px;" href="?page={{ page_obj.previous_page_number }}"> &lt; </a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a style="text-decoration: none; font-weight: bold; font-size: 24px; margin-right: 10px;" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a style="text-decoration: none; margin-right: 10px;" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}   
            {% if page_obj.has_next %}
                <a style="text-decoration: none; margin-right: 10px;" href="?page={{ page_obj.next_page_number }}"> &gt; </a>
                <a style="text-decoration: none; margin-right: 10px;" href="?page={{ page_obj.paginator.num_pages}}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}         
        {% endif %}
    </div>    
{% endblock content %}
