{% extends "client/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="flex md:w-1/2  justify-center py-6 items-center">
        <form method="POST" class="  w-fit px-5 py-6">
            {% csrf_token %}
            <fieldset class="">
                <legend class="text-gray-800 font-bold text-2xl mb-1">Login :)</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button type="submit" class="block w-fit bg-indigo-600 mt-4 py-2 rounded-2xl text-gray-800 font-semibold mb-2r">Login</button>
				<span class="text-sm  hover:text-blue-500 cursor-pointer">Forgot Password ?</span>
            </div>
        </form>
    </div>
{% endblock content %}