<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="post" action="{% url 'admin:yourappname_customuser_change' object_id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="sub_roles-container"></div>
            <input type="submit" value="Save">
          </form>
        
        <script src="" async defer>
            // user_change_form.js
            document.addEventListener("DOMContentLoaded", function () {
                const roleSelect = document.querySelector("#id_role");
                const subRolesContainer = document.querySelector("#sub_roles-container");
            
                roleSelect.addEventListener("change", function () {
                const roleName = roleSelect.value;
                    if (roleName) {
                        // Fetch sub roles based on the selected role
                        fetch(`/api/get_subroles/?role_name=${roleName}`)
                        .then((response) => response.json())
                        .then((data) => {
                            const subRolesHtml = data.map(
                            (subRole) =>
                                `<input type="checkbox" name="sub_roles" value="${subRole.name}">${subRole.name}<br>`
                            );
                            subRolesContainer.innerHTML = subRolesHtml.join("");
                        });
                    } else {
                        subRolesContainer.innerHTML = "";
                    }
                });
            });
  
        </script>
    </body>
</html>